<table class="table " style="border-radius: 8px ; background-color: rgb(199, 199, 199)"> 
    <thead>
      <tr>
        <th scope="col">Restaurant Id</th>
        <th scope="col">Restaurant Name</th>
        <th scope="col">Restaurant Address</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Show Menu</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of data">
      <tr>
        <td>{{item.resId}}</td>
        <td>{{item.resName}}</td>
        <td>{{item.resAddress}}</td>
        <td>{{resContact}}</td>
        <td><a (click)="showMenu(item.resId)">Show Menu</a></td>
      </tr>
    </tbody>
  </table>