<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="/restaurant">Restaurant <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/menu">Menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about">About </a>
      </li> -->

      <li class="nav-item">
        <a class="nav-link" href="/train_availability">train availability </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/tickets">tickets </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Sign Up</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/station">Add Station</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/state">Add state</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/city">Add city</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Restaurant" aria-label="Search">
      <button class="btn btn-dark" type="submit">Search</button>
    </form>
  </div>
</nav>